:root {
    --color-primario: #27dbd8 ;
    --color-secundario: #88a8db ;
    --color-terciario: #2734db;
    --color-alterno: #27a5DB;
}

* {
    padding: 0;
    margin: 0;
    background-color: var(--color-primario);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
}

body {
    display: block;
    justify-content: space-between;
    flex-direction: row;
    /*display: flex;
    flex-direction: row;
    justify-content: spacebetween;*/
}

header {
    display: block;
    width: 30%;
    padding: 2%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 82vh;
    margin-bottom: 30px;
    margin-left: 50px;
}

.text-area {
    border: none;
    color: var(--color-secundario);
    margin-top: 60px;
    text-transform: lowercase;
}

::placeholder {    color: var(--color-secundario);   }
    .text-area:focus{
        outline: none;
    } 

.mensaje {
    background:var(--color-terciario);
    background-image: url("assets/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: var(--color-terciario);
    margin-left: 90px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;

}

.mensaje:focus{
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: var(--color-alterno);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 70px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background: var(--color-alterno);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 70px;
    width: 328px;
}

/*
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 82vh;
}

.columna {
    width: 50%; 
}

button {
    width: 20%;
    background-color: var(--color-terciario);
    text-align:center;
    padding: 1.5em 0;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    color:white;
    padding: 0.5em;
    display: inline-block;
    margin: 1.5em;
}

footer {
    display: block;
    width: 100%;
    color: white;
    background-color: var(--color-alterno);
    padding: 1%;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}*/
