:root {
    --color-primario: #27dbd8 ;
    --color-secundario: #88a8db ;
    --color-terciario: #2734db;
    --color-alterno: #27a5DB;
}

* {
    background-color: var(--color-primario);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    overflow-y: hidden;
}

header {
    display: block;
    width: 30%;
    padding: 2%;
}

main {
    display: flex;
    margin-bottom: 30px;
    margin-left: 200px;
    height:72vh;    
}

.text-area {
    border: none;
    color: var(--color-secundario);
    margin-top: 60px;
    margin-bottom: 20px;
    text-transform: lowercase;
}

.text-area::placeholder { color: var(--color-alterno);  }
    .text-area:focus{
        outline: none;
    } 

.mensaje {
    background: var(--color-terciario);
    background-image: url("assets/Muñeco.png");
    background-repeat: no-repeat;
    background-position: top; /* Ajusta la posición de la imagen */
    border: none;
    border-radius: 24px;
    color: var(--color-terciario);
    margin-left: 90px;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 10PX;
    padding-top: 100px; /* Agrega espacio para la imagen */
    }
    
.mensaje::placeholder {
        color: var(--color-secundario);
        position: fixed;
        top: 500px; /* Ajusta la posición del texto */
        text-align: justify;
        padding-right: 20px;
        
    }
    
.textarea:focus {
        outline: none;
    }

.mensaje:focus{
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: var(--color-alterno);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 70px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background: var(--color-alterno);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 70px;
    width: 328px;
}

.btn-copiar {
    background: var(--color-alterno);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 70px;
    width: 328px;
    margin: auto;
}

footer {
    display: block;
    width: 98%;
    color: white;
    background-color: var(--color-alterno);
    padding: 1%;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
